{% block meta %}
{
}
{% endblock %}

{% block content %}
<!-- Main Div -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
      <h1 class="text-start">এখন</h1>
      <div class="small">
        <p class="mb-0">মে ২০২৪</p>
        <p>ঢাকা</p>
      </div>
      <p>[Lonesome Town from Shaanta’s video]</p>
      <p>একলার শহর খুঁইজা তুমি ক্লান্ত</p>
      <p>কবিতারা এসে তোমার গলায় আটকে যায়, বর্তমানের চেয়ে অতীত চমৎকার চিন্তায় ব্রাইটার।</p>
      <p>আমি লক্ষ্য করিনি, একটু ঘুমায়ে পড়সিলাম,</p>
      <div class="fst-italic" style="margin-left: 10%; margin-right: 10%; color: #707070; letter-spacing: 0.25rem;">
        <p>আর স্বপ্নের ভেতর দেখসিলাম আরেকটা স্বপ্ন যেখানে স্কুল ছুটি হইসিলো তোমার মনে পড়ে বৃষ্টি হচ্ছিলো খুব সেদিন টিচার
          আসেনি
          কী যেন বলতেসি তোমাকে আর কী আকাশ কালো করা বৃষ্টি ঘাসগুলো ভিজে যাচ্ছে গাছের সবুজ পাতা ভিজে দূরের পুকুরটাও
          টইটম্বুর হয়ে
          আছে তুমি আনমনা হয়ে গেসিলা আমার স্পষ্ট মনে আছে কারণ পাশে বসে ছিলাম—কেউ আমরা জন্ম নেইনি তখনো।</p>
      </div>
      <p>এই স্মার্তিক স্বপ্ন বা স্বাপ্নিক স্মৃতির কথা কি তোমার মনে পড়ে?</p>
      <p>*[Overlay of merged childhood photos]*</p>
      <p>*[EotFW image]*</p>
      <p>ডিআরএমসির দুপুরে তুমি আমার সাথে ক্রিকেট খেলসিলা। তোমার কলেজ নাম্বার নাইন ফোর সামথিং—শেষ দুইটা ডিজিট হারায়ে গেসে
        কোথায় যেন।</p>
      <p>অ্যাট লিস্ট একটা যদি তোমার মনে পড়তো, পরেরটা আমি ডেফিনিটলি বলতে পারতাম।</p>
      <p>*[Screaming from* Long Long Long*]*</p>
      <p>*[Footnote (পরিশিষ্ট): Wednesday E01]*</p>
      <p>*[Credit dropdown]*</p>
    </div>
  </div>

</div>

<!-- Additional JS -->
<script src="js/ekhon.min.js"></script>
{% endblock %}
