{% block meta %}
{
}
{% endblock %}

{% block content %}
<!-- Onload Modal -->
<div class="container">
  <!-- Button to trigger the modal -->
  <button id="ekhon-mt" class="d-none" type="button" data-bs-toggle="modal" data-bs-target="#ekhon-info"></button>
  <!-- Modal to request readers to use a headphone -->
  <div id="ekhon-info" class="modal fade" aria-hidden="true" aria-labelledby="" data-bs-backdrop="static"
       data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mt-3 mb-3">
            হেডফোন ব্যবহার করা যেতে পারে।
          </div>
          <div>
            <button id="ekhon-modal-okay" class="btn btn-sm btn-outline-dark" type="button" data-bs-dismiss="modal">
              আচ্ছা
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Intro Video Div -->
<div id="ekhon-intro" class="d-none" style="background-color: black">
  <video id="ekhon-intro-vid" src="videos/ekhon_lonesome_town.mp4"></video>
</div>

<!-- Main Div Part 1 -->
<div id="ekhon-md-1" class="container d-none">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
      <h1 id="ekhon-title" class="text-start ekhon-entrance">এখন</h1>
      <div class="small">
        <p class="mb-0 ekhon-entrance">মে ২০২৪</p>
        <p class="ekhon-entrance">ঢাকা</p>
      </div>
      <div class="ekhon-entrance">
        <p>একলার শহর খুঁইজা তুমি ক্লান্ত</p>
        <p>কবিতারা এসে কেবল গলায় আটকে যায়, বর্তমানের চেয়ে অতীত তোমার চমৎকার চিন্তায় ব্রাইটার।</p>
        <p>আমি লক্ষ্য করিনি, একটু ঘুমায়ে পড়সিলাম,</p>
        <div class="fst-italic" style="margin-left: 10%; margin-right: 10%; color: #707070;
        letter-spacing: 0.25rem;">
          <p>আর স্বপ্নের ভেতর দেখসিলাম আরেকটা স্বপ্ন যেখানে স্কুল ছুটি হইসিলো তোমার মনে পড়ে বৃষ্টি হচ্ছিলো খুব সেদিন
            টিচার
            আসেনি
            কী যেন বলতেসি তোমাকে আর কী আকাশ কালো করা বৃষ্টি ঘাসগুলো ভিজে যাচ্ছে গাছের সবুজ পাতা ভিজে দূরের পুকুরটাও
            টইটম্বুর হয়ে
            আছে তুমি আনমনা হয়ে গেসিলা আমার স্পষ্ট মনে আছে কারণ পাশে বসে ছিলাম—কেউ আমরা জন্ম নেইনি তখনো।</p>
        </div>
        <p>এই স্মার্তিক স্বপ্ন বা স্বাপ্নিক স্মৃতির কথা কি তোমার মনে পড়ে?</p>
      </div>
    </div>
  </div>
</div>

<!-- Main Div Part 2 (Mid-Video) -->
<div id="ekhon-md-2" class="video-container mb-4 d-none ekhon-entrance">
  <video id="ekhon-mid-vid" style="width: 100%;" src="videos/koto_gai.mp4"></video>
  <button class="play-btn" type="button"></button>
</div>

<!-- Main Div Part 3 -->
<div id="ekhon-md-3" class="container d-none ekhon-entrance">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
      <div>
        <p>ডিআরএমসির দুপুরে তুমি আমার সাথে ক্রিকেট খেলসিলা। তোমার কলেজ নাম্বার নাইন ফোর সামথিং—শেষ দুইটা ডিজিট হারায়ে
          গেসে কোথায় যেন।</p>
        <p>অ্যাট লিস্ট একটা যদি তোমার মনে পড়তো, পরেরটা আমি ডেফিনিটলি বলতে পারতাম।</p>
      </div>
      <hr>
      <div class="small text-end">
        <p class="mb-0">দৃশ্য ১: লোনসাম টাউন (রিকি নেলসন; বেকার নাইট)</p>
        <p class="mb-0">দৃশ্য ২: কত গাই (সাঈদা শান্তা; বেমানান)</p>
      </div>
    </div>
  </div>

  <!-- Additional JS -->
  <script src="js/ekhon.min.js"></script>
  {% endblock %}
