{% block meta %}
{
}
{% endblock %}

{% block content %}
<!-- Onload Modal-->
<div class="container">
  <!-- Button to trigger the modal -->
  <button class="d-none" data-bs-target="#info" data-bs-toggle="modal" id="i-mt" type="button"></button> <!-- `mt` means `modal-trigger` -->
  <!-- Modal of info -->
  <div aria-hidden="true" aria-labelledby="" class="modal fade" id="info" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">হ্যালো, পৃথিবী!</h5>
          <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          এই ওয়েবসাইট এখনো নির্মাণাধীন। আমার কোনো ধারণা নেই আপনি কেন এখানে এলেন। 🐸
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Div -->
<div class="container">
  <div class="text-center">
    <img class="rounded-circle m-1" src="images/profile_photo.svg" alt="" width="250em">
    <h3>হাসান নাহিয়ান নোবেল</h3>
    <div class="small mb-3">
      শিক্ষার্থী, কম্পিউটার বিজ্ঞান ও প্রকৌশল বিভাগ<br>
      বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয় (বুয়েট)
    </div>

    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-3 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ফ্রন্টএন্ড ডেভেলপমেন্ট</h5>
            <p>আমার আগ্রহ ফ্রন্টএন্ডের কাজকর্মে, এবং দক্ষতা জাভাস্ক্রিপ্ট ও পাইথনে।</p>
            <a href="#" class="btn btn-outline-dark btn-sm stretched-link">বিস্তারিত</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">লেখালেখি</h5>
            <p>নোবেল লেখে না; যে লেখে—সে সুরম্য আর্য।</p>
            <a href="https://shurommo-arzo.web.app/" class="btn btn-outline-dark btn-sm stretched-link" target="_blank">
              ওয়েবসাইট&nbsp;<i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">গ্রাফিক ডিজাইন</h5>
            <p>নিজেকে ‘গ্রাফিক ডিজাইনার’ দাবি করাটা বাড়াবাড়ি হয়ে যাবে; তবে এই ব্যাপারে আমার আগ্রহ এবং সামান্য দক্ষতা আছে।</p>
            <a href="#" class="btn btn-outline-dark btn-sm stretched-link">পোর্টফোলিও</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Additional JS -->
<script src="js/index.min.js"></script>
{% endblock %}
