{% block meta %}
{
}
{% endblock %}

{% block content %}

<!-- Main Div -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8 col-xl-7 justify-align">
      <h1 class="text-start">প্রণতি</h1>
      <div class="small">
        <p class="mb-0">অক্টোবর ২০২৪</p>
        <p>ঢাকা</p>
      </div>
      <div>
        তখন তোমার ভেতরে ভয়ংকর এক সুন্দরের সঞ্চার হয়, তখন তোমার গিটারের তালটা কাইটা যায়, হাতটা কাঁইপা যায় মুহূর্তের জন্য।<br>
        <br>
        তারপর, রিদ্‌ম ফিরে আসে। তীব্র একটা বিট্‌ল্‌স শুনতে শুনতে আমি তোমার চিন্তায় হারায়ে—<br>
        <br>
        ওয়েল, ওয়েল, ওয়েল, ইউ আর ফিলিং ফাইন।<br>
        [The riff]<br>
        well well well you’re feeling fine<br>
        well well well he’ll make you<br>
      </div>
    </div>
  </div>
</div>

<!-- Additional JS -->
<script src="js/pronoti.min.js"></script>
{% endblock %}
